* {
    padding: 0px;
    margin: 0px;
}
.clear {
    clear: both;
    width: 100%;
    height: 1px;
}
@media (min-width: 1000px) {
    .one {
        width: 1005px;
    }
}
@media (min-width: 768px) and (max-width: 999px) {
    .one {
        width: 800px;
    }
}
@media (min-width: 487px) and (max-width: 767px) {
    .one {
        width: 487px;
    }
}
#down {
    margin-top: 10px;
}
hgroup {
	position:center;
    text-align: right;
    float: right;
    width: 500px;
    height: 300px;
    margin-top: -150px;
    margin-right: -200px;
}

.border {
    margin-top: 20px;
    margin-bottom: 20px;
}
.title {
    padding-top: 0px;
    background: red;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 20px;
}
.titletop span{
color:white;
}
.title span{
color:white;
}
.titletop {
    padding-top: 20px;
    background: red;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 20px;
}
body {
    font-family: Graublau Sans Web, EuroSansProLig, Arial, sans-serif;
    /* Ширина блока */
    
    padding: 5px;
    /* Поля вокруг текста */
    
    background: LightYellow;
}
.footer {
    text-align: center;
    height: 30px;
	padding: 10px;
}
.since {
    text-align: left;
}

#page {
    border: thin solid;
    
    width: 90%;
    padding-left: 50px;
    padding-right: 50px;
    background: white;
    padding-top: 5px;
	margin: 0 auto;
}
.strong {
    font-weight: bold;
}
.normal{
font-weight: normal;
}

}
}
/* только для Internet Explorer 4+ */

@font-face {
    font-family: Cardo99s-webfont;
    src: url(fonts/Cardo99s-webfont.eot);
    /* IE9 */
}
@font-face {
    font-family: EuroSansProLigBold;
    src: url(fonts/EuroSansProLigBold.eot)
}
img {
    width: 90%;
    height: auto;
}

.block {
    float: right;
    background: blue;
    width: 80%;
    height: 90px;
    border-radius: 0 20px 20px 0;
    text-align: left;
    padding-top: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#pow{
text-align:bottom;
}
.border {
    margin-top: 20px;
}
#imgmarg {
    margin: 20px;
}
#tab {
    margin-left: 20px;
}
#sources {
    border: thin solid;
    background: lightblue;
	padding: 15px;
	text-align: left;
	vertical-align:top;
}
#sources a{
color:black;
}

.world_down{
white-space:pre-wrap;word-break:break-all;

}
h2 {
    text-align: center;
}
h6 {
    color: white;
    font-size: 12px;
}



.size {
    font-size: 20px;
}
.page_cont {
    margin: 0 auto;
    text-align: left;
}

.cbt {
    clear: both;
	
}
.content {
    min-height: 450px;
    margin: 0 auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 15px;
    background-color: white;
	border: 1px solid black;
}
#header {
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
    position: relative
}
#header img {
	width: 100%;
}

#header_list {
	list-style: none;
	text-align: left;
	vertical-align: top;
}

#header_list li {
	background: url(../img/marker2.png) left center no-repeat;
	padding: 5px 0px 5px 20px; 
}
.header_gettingstarted span{
 color:red;   
}
.header_gettingstarted {
    vertical-align: top;
	text-align: right;
}
.header_gettingstarted H1 {
	padding: 5px;
    /* Поля вокруг текста */
}

.header_jordan {
    font-size: 20pt;
    text-align: right;
	vertical-align: bottom;
}

.header_jordan span {
    padding: 5px;
    /* Поля вокруг текста */
}

table {
	border: 0px;
}

.elliptic {
	border-collapse: separate;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px;
}

.HotTipL {
    background: yellow;    
    text-align: center;
	vertical-align: middle;
	border-radius: 5px 0px 0px 5px;
	padding: 15px 30px 15px 35px;
	width: auto;
}
.HotTipR a{
color:white;
}
.HotTipR span{
color:white;
}
.HotTipR {
    background: blue;
    text-align: left;
	vertical-align: center;
	border-radius: 0px 5px 5px 0px;
	padding: 15px 30px 15px 35px;
}

.gray {
    font-family:
    /*Geneva, Arial Helvetica,*/
    
    Cardo99s-webfont, monospace;
    background: #f0f0f0;
    border: 1px solid lightgrey;
    padding-bottom: 20px;
    padding-top: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
    margin-top: 20px;
}

.TextWrap {
	float: left;
	margin: 10px;
}

.SmallIcon {
	width: 150px;
}

.align_center {
	text-align: center;
}

.align_left {
	text-align: left;
}

.align_top {
	vertical-align: top;
	width:50%;
}

.medium_padding {
	padding: 15px 15px 15px 15px;
}
.header_img {
	width: 55%;
}
.blue tr:nth-child(1) {
  background: CornflowerBlue;
  border: 1px solid black; 
}
.blue tr:nth-child(2) {
  background: SkyBlue;
  border: 1px solid black; 
}
.blue tr:nth-child(4) {
  background: SkyBlue;
  border: 1px solid black; 
}
.blue tr:nth-child(6) {
  background: SkyBlue;
  border: 1px solid black; 
}
.blue tr:nth-child(3) {
  background: LightBlue;
  border: 1px solid black; 
}
.blue tr:nth-child(5) {
  background: LightBlue;
  border: 1px solid black; 
}
.blue  {
  border: 1px solid black; 
  }
.blue  th{
  border: 1px solid black; 
  }


