
@media (min-width: 1000px) {
    .one {
        width: 1005px;
    }
}
@media (min-width: 768px) and (max-width: 999px) {
    .one {
        width: 800px;
    }
}
@media (min-width: 487px) and (max-width: 767px) {
    .one {
        width: 487px;
    }
}

body {
        /*font-family: 'Open Sans', Roboto-Black, Graublau Sans Web, EuroSansProLig, Arial, sans-serif;*/
	font-family: 'Roboto-Medium';
        padding: 5px;
        background:#CCCCFF;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Regular.eot);
    /* IE9 */
}


.page_cont {
    margin: 0 auto;
    
}
.center{

vertical-align:middle;
margin:0 auto;
width:40%;
	height:40%;
	left:50%;
	top:50%;
}
.float_left{
float:left;
}
.cbt {
    clear: both;
	
}
.strong {
    font-weight: bold;
}
textarea{
text-align:center;
}
.content {
    min-height: 450px;
    margin: 0 auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 15px;
    background-color: #FFFFFF;
	border: 1px solid #000000;
}
